source/qml/tabs
source/qml/qml_rc.py
source/qml/qml.rc
*.log
.vscode
__pycache__/
*/__pycache__/
venv/
.venv/
.tmp/
.cache/
.pytest_cache/
models/
outputs/
source/sd-inference-server/
config.json
fav.json
defaults.json
python
